img {
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 5px;
  width: 200px;
  background-color: blue;
}
.sidebar{
  text-align: center;
  background-color: #ddd;
}
body{
  font-family: fantasy;
  background-color: #ddd;
}
.about{
  color: #cc3399;
}
h1{
  color: blue;
  font-family: sans-serif;
  text-align: center;
  background-color: white;
}
.column{
  float: left;
  color: white;
  width: 30%;
  background-color:#007acc;
  padding: 2px;
  border: 3px solid white;
}
span{
  float: left;
  background-color: blue;
  color: white;
}
.sidebar p{
  color: blue;
}
h5{
  font-style: italic;
  font-family: serif;
  color:  #003300;
  font-size: 17px;
}
.form{
  float: left;
}
#last{
  float: left;
}
